<!DOCTYPE html>
<html lang="en">
<header class="header">
        <a href="{{ url_for('profile_view') }}">ЛК</a>
        <a href="/posts">Моя жизнь</a>
        <a href="/projects">Проеты</a>
        <a href="/logout">Выйти</a>
        <a href="/friends">Друзья</a>
        <a href="/find">Найти</a>
</header>
<body>
    <h2>Friends</h2>
    <ul>
        {% for friend in friends %}
            <li>
                <img src="{{ url_for('static', filename='images/' + friend[2]) }}" width="50">
                {{ friend[0] }} {{ friend[1] }}
                <a href="{{ url_for('delete_friend', friend_id=friend[3]) }}"> Удалить друга</a>
            </li>
        {% else %}
            <li>У вас нет друзей</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('find') }}"> Добавить друга</a>
</body>
</html>
