{% extends "base_for_home.html" %}

{% block content %}
    <main>
        {# Основной блок постов #}
        <div class="row">
            {% for post in posts %}
                <div class="col-md-4 mb-4">
                <div class="card h-100">
                {% if post.image %}
                    <div class="card-img-container" style="height: 200px; overflow: hidden;">  <!-- Фиксированная высота контейнера -->
                        <img
                            src="{{ url_for('static', filename='uploads/' + post.image) }}"
                            class="card-img-top img-fluid"
                            alt="{{ post.title }}"
                            style="width: 100%; height: 100%; object-fit: cover;"
                        >
                    </div>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.description[:100] }}{% if post.description|length > 100 %}...{% endif %}</p>
                </div>
                <div class="card-footer text-muted">
                Опубликовано: {{ post.date_created.strftime('%d.%m.%Y в %H:%M') }}
                {% if post.name %}
                    | Автор: {{ post.name }}
                {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </main>
{% endblock %}