<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
</head>
<body>
    <h1>Профиль пользователя</h1>
    <p>Имя: {{ user.name }}</p>
    <p>Фамилия: {{ user.surname }}</p>
    <p>Возраст: {{ user.age }} лет</p>
    <p>Должность: {{ user.specialization }}</p>
    <p>Описание: {{ user.bio }}</p>
    <p>Номер телефона: {{ user.phone_number }}</p>
    <p>Социальные сети: {{ user.social_links }}</p>
    <img src="{{ user.avatar }}" alt="Фотография" />
    <a href="{{ url_for('profile', user_id=user.id) }}">Редактировать профиль</a>
</body>
</html>